{% extends "main.html" %}

{% block content %}
{{ super() }}

<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">
    <h1>404 - Page Not Found</h1>
    
    <p>Sorry, the page you're looking for doesn't exist.</p>
    
    <div class="admonition tip">
      <p class="admonition-title">Looking for something?</p>
      <p>Try one of these options:</p>
      <ul>
        <li><a href="{{ base_url }}/">Go to the home page</a></li>
        <li><a href="{{ base_url }}/getting-started/">Getting Started Guide</a></li>
        <li><a href="{{ base_url }}/user-guide/">User Guide</a></li>
        <li><a href="{{ base_url }}/features/">Features Overview</a></li>
        <li>Use the search function in the header to find what you need</li>
      </ul>
    </div>
    
    <h2>Quick Links</h2>
    <ul>
      <li><a href="{{ base_url }}/">Documentation Home</a></li>
      <li><a href="https://apps.quentinspencer.com">Main Application</a></li>
      <li><a href="https://api.quentinspencer.com/docs">API Documentation</a></li>
    </ul>
  </article>
</div>
{% endblock %}


