<div class="confirm-dialog">
  <mat-dialog-content class="content">
    <h2 class="title">{{ data.title }}</h2>
    <p class="message">{{ data.message }}</p>
    
    <mat-checkbox 
      *ngIf="data.optionLabel"
      [(ngModel)]="optionChecked"
      class="option-checkbox">
      {{ data.optionLabel }}
    </mat-checkbox>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">{{ data.cancelText }}</button>
    <button mat-raised-button color="warn" (click)="onConfirm()">{{ data.confirmText }}</button>
  </mat-dialog-actions>
</div>




